html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
table{
    border-collapse: collapse;
    border: 1rem;
}
td{
    border: solid black;
    text-align: center;
    height: 4rem;
    min-height: 4rem;
    width: 4rem;
    min-width: 4rem;
}
.active{
    font-size: 3rem;
    color: white;
    background-color: grey;
}
.empty{
    background-color: white;
    color: rgb(6, 6, 6);
    display: ;
}
.hoverOn:hover{
    background-color: rgb(186, 55, 66);
}
.clicked {
    background-color: green;
}
#resetButtonDiv{
    text-align: center;
    padding: 1rem;
}
#resetButton{
    font-size: 2rem;
    background-color: white;
}
#resetButton:hover{
    color: red;
}
#message{
}



