html,body{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    text-align: center;
    height: 5rem;
}
table{
    border-collapse: collapse;
}
td{
    border: solid black;
    text-align: center;
    height: 3rem;
    width: 3rem;
}
.empty{
    background-color: black;
}
.active:hover{
    background-color: green;
}
#eigthRow{
    background-color: blue;
}
